body {
	font-family: 'Exo', sans-serif;
	background-color: #f6f6f6;
	background: url('../img/pw_maze_white.png');
}

h1, h2.big {
	font-size: 50px;
	font-weight: 200;
	letter-spacing: -3px;
	line-height: 80px;
	margin-bottom: 0;
	color: black;
	text-shadow: 0px 1px 0px white;
}

.suit {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
	margin-top: 40px;
}

.draggable li span:hover {
	cursor: text !important;
}
/*************************
 * column of cards 
 *************************/

.draggable {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	float: left;
	background-color: #f6f6f6;
	border-bottom: 1px solid #b9b9b9;
	border-top: 1px solid white;
	border-radius: 8px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}

.draggable li{
	margin: 5px;
	padding: 5px;
	font-size: 14px;
	width: 120px;
	word-wrap: break-word;
	cursor: pointer;
	background-color: white;
	color: black;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}

.draggable li:hover {
	border-color: #64b6c8;
	box-shadow: 0 0 4px #64b6c8;
}

.card-ghost {
	background-color: #c8d064;
	border: none;
}

.draggable .column-title {
	background-color: transparent;
	color: #f58d40;
	border: none;
	cursor: default;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.draggable .column-title:hover {
	border: none;
	box-shadow: none;
	cursor: default;
} 

/*************************
 * new card
 *************************/
 #new-card-box {
 	padding-top: 10px;
 	padding-bottom: 10px;
 	margin-bottom: 20px;
 	border-bottom: 1px dashed #b9b9b9;
}

#card-text {
	width: 130px;
	height: 60px;
	display: block;
	margin-bottom: 5px;
}

.link-btn, .card-btn{
	text-decoration: none;
	color: #365da3;
	cursor: pointer;
	position: relative;
}

.card-btn {
	float: right;
}

.link-btn:hover, .card-btn:hover {
	color: #e94457;
	text-shadow: none;
}
/*************************
 * server status
 *************************/
#server-ok, #server-down {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 12px;
}
#server-ok {
	color: green;
}
#server-down {
	color: #e94457;
}
/*************************
 * resets
 *************************/
.center {
	text-align: center;
}

.block {
	display: block;
}

.inline {
	display: inline;
}
